<footer class="footer section py-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-6 mb-4 mb-lg-0">
        <p class="mb-0 text-left text-xl-left">
          Welcome to our Kanban project management website! We offer effective tools to organize your team's work,
          helping you achieve goals and manage projects with ease. Utilize our platform for process visualization, task
          tracking, and enhancing team productivity. Successful projects start here!
        </p>
      </div>
    </div>
  </div>
</footer>
