{% extends "layouts/base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="py-4">
    <div class="d-flex justify-content-between w-100 flex-wrap">
      <div class="mb-3 mb-lg-0"><h1>{{ object|yesno:"Update,Create" }} board</h1>
        <p class="mb-0">Dozens of reusable components built to provide buttons, alerts, popovers, and more.</p></div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <form action="" method="post" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <input type="hidden" name="project.pk" value="{{ project.pk }}">
        <input type="submit" value="Submit" class="btn btn-primary">
      </form>
    </div>
  </div>

{% endblock %}

