{% load crispy_forms_filters %}

<div class="py-4">
  <div class="d-flex justify-content-between w-100 flex-wrap">
    <div class="mb-3 mb-lg-0"><h1>{{ object|yesno:"Update,Create" }} project</h1>
    </div>
  </div>
  <div class="card border-0">
    <div class="card-body">
      {% if object %}
        <form action="{% url 'board:project-update' object.id %}" method="post" novalidate>
          {% csrf_token %}
          {{ form|crispy }}
          <input type="submit" value="Submit" class="btn btn-primary">
        </form>
      {% else %}
        <form action="{% url 'board:project-create' %}" method="post" novalidate>
          {% csrf_token %}
          {{ form|crispy }}
          <input type="submit" value="Submit" class="btn btn-primary">
        </form>

      {% endif %}
    </div>
  </div>
