{% extends 'layouts/base.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
    <div class="d-block mb-4 mb-md-0">
      <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
        <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
          <li class="breadcrumb-item"><a href="#">
            <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                 xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path>
            </svg>
          </a></li>
          <li class="breadcrumb-item active" aria-current="page">Projects</li>
        </ol>
      </nav>
      <h2 class="h4">Projects List</h2>
      <p class="mb-0">Your web analytics dashboard template.</p></div>
    <div class="btn-toolbar mb-2 mb-md-0">
      <a class="btn btn-sm btn-gray-800 d-inline-flex align-items-center" href="#" data-toggle="modal"
         data-target="#myModal">
        <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
             xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
        </svg>
        New Project</a>
    </div>
  </div>
  <div class="table-settings mb-4">
    <div class="row justify-content-between align-items-center">
      <div class="col-9 col-lg-8 d-md-flex">
        <div class="input-group me-2 me-lg-3 fmxw-300">
          <form method="get" action="" class="form-inline">
            {{ search_form }}
          </form>

        </div>
      </div>
    </div>
  </div>
  <div class="card card-body shadow border-0 table-wrapper table-responsive">
    <table class="table user-table table-hover align-items-center">
      <thead>
      <tr>
        <th class="border-bottom">Name</th>
        <th class="border-bottom">Owner</th>
        <th class="border-bottom">DeadLine</th>
        <th class="border-bottom">Team</th>
        <th class="border-bottom">Status</th>
        <th class="border-bottom">Action</th>
      </tr>
      </thead>
      <tbody>
      {% for project in project_list %}
        <tr>
          <td>
            <h6 class="d-block"><a class="fw-bold"
                                   href="{% url 'board:project-detail' project.pk %}">{{ project.name }}</a></h6>
            <p class="m-0 small text-gray">{{ project.description|linebreaksbr|slice:":250" }}</p>
          </td>
          <td><a href="{% url 'board:worker-detail' project.owner.id %}" class="d-flex align-items-center">
            {% if not project.owner.avatar %}
              <div class="avatar d-flex align-items-center justify-content-center fw-bold rounded bg-secondary me-3">
                <span>{{ project.owner.username.0|upper }}</span></div>
            {% else %}
              <img
                  src="{{ project.owner.avatar.url }}"
                  class="avatar rounded-circle me-3"
                  alt="Avatar"
              >
            {% endif %}
            <div class="d-block"><span class="fw-bold">{{ project.owner }}</span>
              <div class="small text-gray">{{ project.owner.email }}</div>
            </div>
          </a></td>
          <td><span class="fw-normal">{{ project.deadline }}</span></td>
          <td>            {% if project.team.members %}
            <div class="performers">
              {% for worker in project.team.members.all %}
                {% if worker.avatar %}
                  <img class="performer" src="{{ worker.avatar.url }}" alt="{{ worker }}">
                {% else %}
                  <div
                      class="performer avatar d-flex align-items-center justify-content-center fw-bold bg-secondary me-3">
                    <span>{{ project.owner.username.0|upper }}</span></div>
                {% endif %}
              {% endfor %}
            </div>
          {% else %}
            <span>---</span>
          {% endif %}</td>
          <td><span class="fw-normal text-success">{% if project.is_completed %}In work{% else %}Active{% endif %}</span></td>
          <td>
            <div class="btn-group">

              <form action="{% url 'board:project-delete' project.id %}" method="post" novalidate>
                {% csrf_token %}
                <input type="submit" value="Delete" class="btn btn-primary">
              </form>

            </div>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <div class="card-footer px-3 border-0 d-flex flex-column flex-lg-row align-items-center justify-content-between">
      <nav aria-label="Page navigation example">
        {% include "includes/pagination.html" %}
      </nav>
    </div>
  </div>

  <script>
      $(document).ready(function () {
          $("a[data-target='#myModal']").click(function () {
              $.get("{% url 'board:project-create' %}", function (data) {
                  $("#modalContent").html(data);
                  $("#myModal").modal("show");
              });
          });

          {% if error %}
              $('.toast').toast('show');
          {% endif %}

          $('.toast .close').click(function () {
              $('.toast').toast('hide');
          });
      });

  </script>
  <div
      class="modal fade"
      data-bs-backdrop="static"
      id="myModal"
      tabindex="-1"
      aria-labelledby="myModalLabel"
      aria-hidden="true"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Project</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modalContent">
          <!-- AJAX -->
        </div>
      </div>
    </div>
  </div>

      <!-- Flexbox container for aligning the toasts -->
  <div aria-live="polite" aria-atomic="true"
       class="toast-container position-absolute p-3 top-0 start-50 translate-middle-x">

    <!-- Then put toasts within -->
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <strong class="me-auto ml-10 text-danger">Error</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        {{ error }}
      </div>
    </div>
  </div>
{% endblock content %}
