{% extends 'layouts/base.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
    <div class="d-block mb-4 mb-md-0">
      <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
        <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
          <li class="breadcrumb-item"><a href="#">
            <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                 xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path>
            </svg>
          </a></li>
          <li class="breadcrumb-item active" aria-current="page">Projects</li>
        </ol>
      </nav>
      <h2 class="h4">Projects List</h2>
      <p class="mb-0">Kanban Project Catalog: Organize, Prioritize, Deliver.</p></div>
    <div class="btn-toolbar mb-2 mb-md-0">
      <button type="button" class="btn btn-sm btn-gray-800 d-inline-flex align-items-center" data-bs-toggle="modal"
              data-bs-target="#projectModal"
              data-action="create">
        <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
             xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
        </svg>
        New Project
      </button>
    </div>
  </div>
  <div class="table-settings mb-4">
    <div class="row justify-content-between align-items-center">
      <div class="col-9 col-lg-8 d-md-flex">
        <div class="input-group me-2 me-lg-3 fmxw-300">
          <form method="get" action="" class="form-inline">
            {{ search_form }}
          </form>

        </div>
      </div>
    </div>
  </div>
  <div class="card card-body shadow border-0 table-wrapper table-responsive">
    <table class="table user-table table-hover align-items-center">
      <thead>
      <tr>
        <th class="border-bottom">Name</th>
        <th class="border-bottom">Owner</th>
        <th class="border-bottom">DeadLine</th>
        <th class="border-bottom">Team</th>
        <th class="border-bottom">Status</th>
        <th class="border-bottom">Action</th>
      </tr>
      </thead>
      <tbody>
      {% for project in project_list %}
        <tr>
          <td>
            <h6 class="d-block"><a class="fw-bold"
                                   href="{% url 'board:project-detail' project.pk %}">{{ project.name }}</a></h6>
            <p class="m-0 small text-gray">{{ project.description|linebreaksbr|slice:":250" }}</p>
          </td>
          <td><a href="{% url 'board:worker-detail' project.owner.id %}" class="d-flex align-items-center">
            {% if not project.owner.avatar %}
              <div class="avatar d-flex align-items-center justify-content-center fw-bold rounded bg-secondary me-3">
                <span>{{ project.owner.username.0|upper }}</span></div>
            {% else %}
              <img
                  src="{{ project.owner.avatar.url }}"
                  class="avatar rounded-circle me-3"
                  alt="Avatar"
              >
            {% endif %}
            <div class="d-block">
              <span class="fw-bold">
                {% if user == project.owner %}
                Me
                {% else %}
              {{ project.owner }}
                {% endif %}
              </span>
              <div class="small text-gray">{{ project.owner.email }}</div>
            </div>
          </a></td>
          <td><span class="fw-normal">{{ project.deadline }}</span></td>
          <td>            {% if project.team.members %}
            <div class="performers">
              {% for worker in project.team.members.all %}
                {% if worker.avatar %}
                  <img class="performer" src="{{ worker.avatar.url }}" alt="{{ worker }}">
                {% else %}
                  <div
                      class="performer avatar d-flex align-items-center justify-content-center fw-bold bg-secondary me-3">
                    <span>{{ project.owner.username.0|upper }}</span></div>
                {% endif %}
              {% endfor %}
            </div>
          {% else %}
            <span>---</span>
          {% endif %}</td>
          <td><span class="fw-normal text-success">{% if project.is_completed %}In work{% else %}
            Active{% endif %}</span></td>
          <td>
            <div class="btn-group">
              <!-- Button to trigger modal for updating -->
              <button type="button" class="btn btn-secondary"
                      data-action="update" data-id="{{ project.id }}">
                Update
              </button>
              <!-- Button to trigger modal for creating -->
              <button type="button" class="btn btn-primary"
                      data-action="delete" data-id="{{ project.id }}">
                Delete
              </button>


            </div>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <div class="card-footer px-3 border-0 d-flex flex-column flex-lg-row align-items-center justify-content-between">
      <nav aria-label="Page navigation example">
        {% include "includes/pagination.html" %}
      </nav>
    </div>
  </div>

  {% include 'board/modal/modal.html' with modal_content=messages %}

  <script>
      $(document).ready(function () {

          {% if messages %}
              $('#myModal').modal('show');
          {% endif %}

          $('[data-action="create"]').click(function () {
              $.ajax({
                  url: "{% url 'board:project-create' %}",
                  success: function (response) {
                      $('#projectModalContent').html(response);
                      // $("#projectModal").modal("show"); // Не показываем модальное окно здесь
                  },
                  error: function (xhr, errmsg, err) {
                      // Обработка ошибки
                      alert('Ошибка: ' + xhr.status + ': ' + xhr.responseText); // Вывод сообщения об ошибке
                  }
              });
          });

          $('#projectForm').submit(function (event) {
              console.log("Обработчик submit сработал!"); // Отладочное сообщение
              event.preventDefault(); // Предотвращаем стандартное действие отправки формы

              // Другой код обработчика события submit
          });


          $('[data-action="update"]').click(function () {
              let id = $(this).data('id');
              $.ajax({
                  url: "{% url 'board:project-update' pk=0 %}".replace('0', id),
                  success: function (response, textStatus, jqXHR) {


                      if (jqXHR.status === 200) {
                          $('#projectModalContent').html(response);
                          $("#projectModal").modal("show");
                      } else {
                          console.log('Forbidden:', jqXHR.status);
                      }

                  },
                  error: function (xhr, status, error) {
                      location.reload();
                      console.log("Error occurred while performing the request:", error);
                  },
              })

          });

          $('[data-action="delete"]').click(function () {
              let id = $(this).data('id');
              $.ajax({
                  type: "POST",
                  url: "{% url 'board:project-delete' pk=0 %}".replace('0', id),
                  data: {
                      csrfmiddlewaretoken: '{{ csrf_token }}'
                  },
                  success: function (response, textStatus, jqXHR) {
                      location.reload();
                      console.log("success");
                  },
                  error: function (xhr, status, error) {
                      location.reload();
                      console.log("Error occurred while performing the request:", error);
                  }
              });
          });

      });

  </script>
  <div
      class="modal fade"
      data-bs-backdrop="static"
      id="projectModal"
      tabindex="-1"
      aria-labelledby="myModalLabel"
      aria-hidden="true"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Project</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="projectModalContent">
          <!-- AJAX -->
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
